<!--管理者側の商品一覧ページ-->
<p id="notice"></p>
<div class="container">
  <div class="row">
    <h2 class="px-3">商品一覧</h2>
  </div>
    <table class="table">
    <tr>
      <th>
        <div class="text-right">
          <%= link_to new_admin_item_path, class:"btn btn--circle btn--circle-c btn--shadow" do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </div>
      </th>
    </tr>
  </table>

  <div class="search_form">
    <table class="table">
      <thead class= "table-secondary">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <% @items.each do |item| %>
      <tbody>
        <tr>
          <td class="aligin-middle"><%= item.id %></td>
            <td class="aligin-middle">
              <%= link_to admin_item_path(item.id) do %>
                <u><%= item.name %></u>
              <% end %>
            </td>
            <!--商品の税込価格はitem.add_tax_price-->
            <!--.to_s(:delimited)は3桁ごとにカンマ区切りで表示してくれる便利なメソッドです-->
          <td class="align-middle"><%= item.price.to_s(:delimited) %></td>
          <td class="align-middle"><%= item.genre.name %></td>
          <td class="align-middle">
            <% if item.is_active == true %>
              <p class="text-success font-weight-bold">販売中</p>
            <% else %>
              <p class="text-danger font-weight-bold">販売停止中</p>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>