<!--管理者側の商品詳細ページ-->
<div class="container mt-5 mb-5">
	<div class="row text-center text-xs-center text-sm-left text-md-left ">
    <div class="col-xs-12 col-sm-6 col-md-6 mx-auto text-right">
      <%= image_tag @item.get_image(100,100) %>
    </div>
      <div class="col-xs-12 col-sm-6 col-md-6 item-details mx-auto">
        <h2>
          <strong>
            <%= @item.name %>
          </strong>
        </h2>
        <h4>
          <!--https://qiita.com/mmaumtjgj/items/1b672f3accd37387b2f3-->
          <%= simple_format(@item.introduction) %>
        </h4>
        <% if @item.is_active == true %>
          <p class="text-success">販売中</p>
            <!--商品の税込価格はitem.add_tax_price-->
            <!--.to_s(:delimited)は3桁ごとにカンマ区切りで表示してくれる便利なメソッドです-->
            <!--wrong number of arguments (given 1, expected 0)-->
            <!--@item.add_tax_price-->
          <h3>¥ <%= @item.price( ) %> (税込)</h3>
        <% else %>
          <h3 class="text-danger">販売停止中</h3>
        <% end %>
      <%= link_to "編集する", edit_admin_item_path, class:"btn btn-success" %>
    </div>
  </div>
</div>