<div class="container text-center">
  <div class="row">
    <div class="col-4 pl-5">
      <h2 class="mx-5">会員一覧</h2>
    </div>
  </div>

    <div class="row justify-content-center">
      <div class ="col-sm-9">
        <table class="table table-hover">
          <thead>
            <tr class="active">
              <th class="col-2">会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @customer.each do |customer| %>
            <tr>
              <td>
                <%= customer.id %>
              </td>
              <td>
                <%= link_to admin_customer_path(customer) do %>
                  <%= customer.last_name %>
                  <%= customer.first_name %>
                <% end %>
              </td>
              <td>
                <%= customer.email %>
              </td>
              <td>
                <% if customer.is_active == true %>
                  <p>有効</p>
                <% else %>
                  <p>退会</p>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @customers %>
      </div>
    </div>
</div>