
<div class="container">
    <div class="col-sm-6 ml-5 my-4">
      <h5>配送先編集</h5>
    </div>
        <%= form_with model: @delivery, url: deliveries_path, method: :post do |f| %>
        <div class="row">
          <div class="col-sm-3 py-1">
            郵便番号（ハイフンなし）
          </div>
          
            <div class="col-sm-3 py-1">
              <%= f.text_field :post_code %>
            </div>
          </div>
          
            <div class="row">
              <div class="col-sm-3 py-1">
                住所
              </div>
              <div class="col-sm-3 py-1">
                <%= f.text_field :address, size: 50 %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 py-1">
                宛名
              </div>
              <div class="col-sm-6 py-1">
                <%= f.text_field :name %>
              </div>
              <div class="col-sm-3 py-1">
                <%= f.submit "変更内容を保存", class: "btn btn-success" %>
                <% end %>
              </div>
            </div>
  
</div>
