<div class="container">
  <div class="col-sm-6 ml-5 my-4">
    <h2>配送先登録/一覧</h2>
  </div>
    <%= form_with model: @delivery, url: deliveries_path, method: :post do |f| %>
    <div class="row">

      <div class="col-sm-3 py-1 ml-4">
        郵便番号（ハイフンなし）
      </div>
      <div class="col-sm-3 py-1">
        <%= f.text_field :post_code %>
      </div>
      </div>

        <div class="row">
          <div class="col-sm-3 py-1 ml-4">
            住所
          </div>
          <div class="col-sm-3 py-1">
            <%= f.text_field :address, size: 60 %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 py-1 ml-4">
            宛名
          </div>
          <div class="col-sm-6 py-1">
            <%= f.text_field :name %>
          </div>
          <div class="col-sm-2 py-1">
            <%= f.submit "新規登録", class: "btn btn-success" %>
            <% end %>
          </div>
        </div>
    </div>
    <div class="container mt-4">
      <div class="col-sm-10">
      <table class="table table-bordered">
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>

        <% @deliveries.each do |delivery| %>

        <tr>
          <td>
            <%= delivery.post_code %>
          </td>
          <td>
            <%= delivery.address %>
          </td>
          <td>
            <%= delivery.name %>
          </td>
          <td>
            <%= link_to "編集する", edit_delivery_path(delivery), method: :get, class: "btn btn-success ml-2" %>
            <%= link_to "削除する", delivery_path(delivery), method: :delete, class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>