 <div class="container mt-5">
  <div class="row mb-2 ml-5">
   <h2 class="px-3">注文情報確認画面</h2>
  </div>
  <div class="row">
   <div class="col-8">
    <table>
     <tr>
      <td><h5><strong>購入者</strong></h5></td>
      <td width="100"></td>
      <td><%= @order.name %></td>
     </tr>
     <tr>
      <td><h5><strong>注文日</strong></h5></td>
      <td width="100"></td>
      <td><%= @order.created_at %></td>
     </tr>
     <tr>
      <td><h5><strong>配送先</strong></h5></td>
      <td width="100"></td>
      <td><%= @order.post_code %> <%= @order.address %></td>
     </tr>
     <tr>
      <td></td>
      <td width="100"></td>
      <td><%= @order.name %></td>
     </tr>
     <tr>
      <td><h5><strong>支払方法</strong></h5></td>
      <td width="100"></td>
      <td><%= @order.payment_method_i18n %></td>
     </tr>
     <tr>
      <td><h5><strong>注文ステータス</strong></h5></td>
      <td width="100"></td>
      <td>
       <% if @order.status == 1 %>
         <%= form.select :@order_item.making_status == 1 %>
        <% else %>
        <%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
         <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]}, {}, {class: "status"} %>
         <%= f.submit "更新" , class: "btn btn-outline-success" %>
        <% end %>
       <% end %>
      </td>
     </tr>
    </table>
   </div>
  </div>
  <div class="row">
   <div class="col-8">
    <table class="table text-center admin-items mt-5 mb-5">
     <tr class="aligin-middle">
      <td>商品名</td>
      <td>単価(税込)</td>
      <td>数量</td>
      <td>小計</td>
      <td>製作ステータス</td>
      <td></td>
     </tr>
    <% @order.order_items.each do |order_item| %>
     <% total_price = 0 %>
     <tr>
      <td><%= order_item.item.name %></td>
      <td><%= order_item.price %></td>
      <td><%= order_item.quantity %></td>
      <td><%= order_item.item.add_tax_price * order_item.quantity %></td>
      <%= form_with model: order_item, url: admin_making_status_path(order_item.id), method: :patch, local: true do |f| %>
       <td><%= f.select :making_status, OrderItem.making_statuses.keys.map {|k| [I18n.t("enums.order_item.making_status.#{k}"), k]}, {} , {class: "making_status-select"} %></td>
       <td><%= f.submit "更新", class: "btn btn-outline-success" %></td>
      <% end %>
     <tr>
    <% end %>
    </table>
   </div>
   <div class="offset-1 col-3">
    <table class="mt-5">
     <tr>
      <td height="55"></td>
      <td></td>
     </tr>
     <tr>
      <td width="120"><strong>送料</strong></td>
      <td>800円</td>
     </tr>
     <tr>
      <td><strong>商品合計</strong></td>
      <td><%= @order.total_payment.to_s(:delimited) %>円</td>
     </tr>
     <tr>
      <td><strong>請求金額合計</strong></td>
      <td><%= @order.total_payment.+800 %>円</td>
     </tr>
    </table>
   </div>
  </div>
 </div>
