<%#= render %>
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-5">
      <div class="row">
        <h2 class="px-3">ショッピングカート</h2>
      </div>
    </div>
    <div class="col-3 offset-4">
        <%= link_to cart_items_destroy_all_path, method: :delete, class: "btn btn-danger" do %>
          <span>カートを空にする</span>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <table class="table table-bordered">
          <thead style="background-color: #e5e5e5;">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th width="118"></th>
          </thead>
          <tbody>
            <% @total_price = 0 %>
              <% @cart_items.each do |cart_item| %>
                <tr>
                  <td>
                    <%= image_tag cart_item.item.get_image(100, 60) %>
                    <%= cart_item.item.name %>
                  </td>
                  <td width="200"><%= cart_item.item.add_tax_price.floor.to_s(:delimited) %></td>

                  <td width="200">
                     <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
                     <%= cart_item.quantity %>＋<%= f.number_field :quantity, min: 1, max:10 %>.to_i


                      <!--<select name="数量">-->
                      <!--  <option value="1">1</option>-->
                      <!--  <option value="2">2</option>-->
                      <!--  <option value="3">3</option>-->
                      <!--  <option value="4">4</option>-->
                      <!--  <option value="5">5</option>-->
                      <!--  <option value="6">6</option>-->
                      <!--  <option value="7">7</option>-->
                      <!--  <option value="8">8</option>-->
                      <!--  <option value="9">9</option>-->
                      <!--  <option value="10">10</option>-->
                      <!--</select>-->
                      <%= f.submit "変更", class: "btn btn-success" %>
                    <% end %>
                  <td><%= cart_item.subtotal.to_s(:delimited) %></td>
                  <% @total_price += cart_item.subtotal %>
                  <td><%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-danger m-auto" %></td>
                </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
    <div class="row">
      <div class="col-4">
        <%= link_to items_path, class: "btn btn-primary" do  %>
          <span>買い物を続ける</span>
        <% end %>
      </div>
      <div class="col-8 ">
        <table class="table table-bordered" cellpadding="10">
          <tr>
            <td style="background-color: #e5e5e5;"><strong>合計金額</strong></td>
            <td>(合計金額)<%= @total_price.to_s(:delimited) %></td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <%= link_to new_order_path, method: :get, class: "btn btn-success" do %>
        <span>情報入力画面に進む</span>
      <% end %>
    </div>
</div>




