<%#= render %>
<div class="container mt-5 mb-4">
  <div class="row mb-3">
    <div class="col-5">
      <div class="row">
        <h2 class="px-3">ショッピングカート</h2>
      </div>
    </div>
    <div class="col-3 offset-4">
        <%= link_to cart_items_destroy_all_path, method: :delete, class: "btn btn-danger" do %>
          <span>カートを空にする</span>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <table class="table table-bordered">
          <thead style="background-color: #e5e5e5;">
            <th width="300">商品名</th>
            <th width="118">単価(税込)</th>
            <th width="120">数量</th>
            <th width="110">小計</th>
            <th width="80"></th>
          </thead>
          <tbody>
            <% @total_price = 0 %>
              <% @cart_items.each do |cart_item| %>
                <tr>
                  <td width="300"><%= image_tag cart_item.item.get_image(100, 60) %> <%= cart_item.item.name %></td>
                  <td width="118"><%= cart_item.item.add_tax_price.floor.to_s(:delimited) %></td>

                  <td width="120">
                    <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
                      <%= f.number_field :quantity, min: 1, max:10 %>
                      <%= f.submit "変更" %>
                    <% end %>

                  <td width="110"><%= cart_item.subtotal.to_s(:delimited) %></td>
                  <% @total_price += cart_item.subtotal %>
                  <td width="80"><%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-danger m-auto" %></td>
                </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
    <div class="row">
      <div class="col-4">
        <%= link_to items_path, class: "btn btn-primary" do  %>
          <span>買い物を続ける</span>
        <% end %>
      </div>
      <div class="col-3 offset-5">
        <table class="table table-bordered" cellpadding="10">
          <tr>
            <td width="80" style="background-color: #e5e5e5;"><strong>合計金額</strong></td>
            <td width="70"><%= @total_price.to_s(:delimited) %></td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <%= link_to new_order_path, method: :get, class: "btn btn-success" do %>
        <span>情報入力画面に進む</span>
      <% end %>
    </div>
</div>




