<%#= render %>
<div class="container">
  <div class="row">
    <div class="col-5">
      <h2>ショッピングカート</h2>
    </div>
    <div class="col-3 offset-4">
        <%= link_to cart_item_path(@cart_items), method: :delete, class: "btn btn-danger" do %>
          <span>カートを空にする</span>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <table class="table table-bordered" cellpadding="10">
          <thead>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </thead>
          <tbody>
            <% @cart_items.each do |cart_item| %>
              <tr>
                <td><%= cart_item.name %></td>
                <td><%= cart_item.add_tax_price.floor %></td>
                <td><%= cart_item.quantity %></td>
                <!--小計を求めるメソッド＝＝subtotal-->
                <td><%= cart_item.subtotal %></td>
                <% @total_price += cart_item.subtotal %>
                <td><%= link_to "削除する", cart_item_path(customer.id), method: :delete, class: "btn btn-danger" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
    <div class="row">
      <div class="col-4">
        <%= link_to items_path, class: "btn btn-primary" do  %>
          <span>買い物を続ける</span>
        <% end %>
      </div>
      <!--消費税を求めるメソッド＝＝add_tax_price-->
      <div class="col-8 ">
        <table class="table table-bordered" cellpadding="10">
          <tr>
            <td>合計金額</td>
            <!--<td><%#= @total_price %></td>-->
          </tr>
        </table>
      </div>
    </div>

      <div >
        <%= link_to orders_path, method: :get, class: "btn btn-success" do %>
          <span>情報入力画面に進む</span>
        <% end %>
      </div>
</div>




