<div class="container-fluid" style="margin: 0px 150px;">
 <div class="row mt-5 ml-5">
  <div>
   <h3 style="background-color: #e5e5e5;">注文情報入力</h3>
  </div>
 </div>
 <div class="row mt-3">
  <div class="col-12">
   <h3><strong>支払い方法</strong></h3>
   <div class="mt-3 ml-5">
    <%= form_with model: @order, method: :post, local: true do |f| %>
     <%= f.radio_button :payment_method, "credit_card", checked: true%>
     <%= f.label :payment_method, "銀行振込" %>
     </br>
     <%= f.radio_button :payment_method, "transfer" %>
     <%= f.label :payment_method, "クレジット払い" %>
   </div>
  </div>
 </div>
 <div class="row mt-2">
  <div class="col-12">
   <h3><strong>お届け先</strong></h3>
   <div class="mt-3 ml-5">
     <%= f.radio_button :customer, :customer_deliveries, checked: true%>
     <%= f.label :customers, "ご自身の住所" %></br>
     <%= f.radio_button :deliveries, :deliveries %>
     <%= f.label :deliveries, "登録済住所から選択" %>
     </br>
     <%= f.radio_button :address_number, 3 %>
     <%= f.label :address_number_3, "新しいお届け先" %>
     <table class="ml-3">
      <tbody>
       <tr>
        <td><%= f.label :post_code, "郵便番号(ハイフンなし)" %></td>
	       <td><%= f.text_field :post_code %></td>
	      </tr>
	      <tr>
        <td><%= f.label :address, "住所" %></td>
        <td><%= f.text_field :address, :size => "70" %></td>
       </tr>
       </tr>
        <td><%= f.label :neme, "宛名" %></td>
        <td><%= f.text_field :address_name %></td>
       </tr>
      </tbody>
     </table>
    <% end %>
   </div>
  </div>
 </div>
 <div class="row">
  <div class="offset-5 col-7">
   <%= link_to "確認画面へ進む", comfirm_orders_path, class: "btn btn-primary" %></div>
  </div>
</div>
