<div class="container">
  <div class="row">
    <div class="col-auto my-4">
      <div class="row">
        <h2 class="mx-4 px-3">注文履歴詳細</h2>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-6 mt-3">
        <h5><strong>注文情報</strong></h5>
          <table align="left" class="table table-bordered">
            <tr>
              <td class="col-3" style="background-color: #e5e5e5;">注文日</td>
              <td><%= @order.created_at.strftime('%Y/%m/%d %H時%M分%S秒') %></td>
            </tr>
            <tr>
              <td style="background-color: #e5e5e5;">配送先</td>
              <td>〒<%= @order.post_code %><br><%= @order.address %><br><%= @order.name %></td>
            </tr>
            <tr>
              <td style="background-color: #e5e5e5;">支払方法</td>
              <td><%= @order.payment_method %></td>
            </tr>
            <tr>
              <td style="background-color: #e5e5e5;">ステータス</td>
              <td><%= @order.status %></td>
            </tr>
          </table>
        </div>
      <div class="col-4 my-3">
        <h5><strong>請求情報</strong></h5>
          <table class="table table-bordered">
            <tr>
              <td class="col-7" style="background-color: #e5e5e5;">商品合計</td>
              <td><%= @order.total_payment %></td>
            </tr>
            <tr>
              <td style="background-color: #e5e5e5;">配送料</td>
              <td>800</td>
            </tr>
            <tr>
              <td style="background-color: #e5e5e5;">ご請求額</td>
              <td><%= @order.total_payment.+800 %></td>
            </tr>
          </table>
        </div>
      </div>

  <div class="row">
    <div class="col-8">
      <h5><strong>注文内容</strong></h5>
      <table class="table table-bordered">
        <tr>
          <td class="col-5" style="background-color: #e5e5e5;">商品</td>
          <td class="col-2" style="background-color: #e5e5e5;">単価</td>
          <td class="col-1" style="background-color: #e5e5e5;">個数</td>
          <td class="col-1" style="background-color: #e5e5e5;">小計</td>
        </tr>

        <% @order.order_items.each do |order_item| %>

        <tr>
          <td><%= order_item.item.name %></td>
          <td><%= order_item.price %></td>
          <td><%= order_item.quantity %></td>

          <% @total = order_item.item.add_tax_price * order_item.quantity %>

          <td><%= @total %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>