<div class="container">
  <div class="row">
    <h2 class="my-4 ml-5 px-5"> ログイン </h2>
  </div>
  <div class="row">
    <div class="px-2 mx-auto">
      <div class="row">
        <h4 class="my-4 mr-5 px-3">会員の方はこちらからログイン</h4>
      </div>
            <div class="pl-5">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <table cellpadding="15">
                <tr>
                  <td><%= f.label :メールアドレス %></td>
                  <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
                </tr>
                <tr>
                  <td><%= f.label :パスワード %></td>
                  <td><%= f.password_field :password, autocomplete: "current-password" %></td>
                </tr>
                <tr>
                  <td></td>
                  <td><%= f.submit "ログイン", class: "btn btn-primary my-4" %></td>
                </tr>
              </table>
              <% end %>
            </div>
          <div class="row">
            <h4 class="my-4 mr-5 px-3">会員登録がお済みでない方</h4>
          </div>
        <p class="ml-5"><%= render "public/shared/links" %>から新規登録を行なってください</p>
    </div>
  </div>
</div>