<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      table.table-bordered > thead > tr > th {
        border: solid 1px black;
      }
      table.table-bordered > tbody > tr > td {
        border: solid 1px black;
      }
      
    </style>
  </head>
  <body>
   <header class= "shadow">
    <nav class="navbar navbar-expand-lg navbar-light">
     <div class= "container">
      <a class="navbar-brand" href="#">NaganoCake</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class= "navbar-nav" style="margin-left: 400px;">
　　   <% if customer_signed_in? %>
　　    <li class="nav-item">
　　     <%= link_to "マイページ", home_about_path, class: "btn btn-light ml-0" %>
　　    </li>
　　    <li>
　　     <%= link_to "商品一覧", items_path, class: "btn btn-light" %>
　　    </li>
　　    <li>
　　     <%= link_to "カート", cart_items_path, class: "btn btn-light" %>
　　    </li>
　　   <% elsif admin_signed_in? %>
　　    <li>
　　     <%= link_to "商品一覧", admin_items_path, class: "btn btn-light" %>
　　    </li>
　　    <li>
　　     <%= link_to "会員一覧", admin_customers_path, class: "btn btn-light" %>
　　    </li>
　　    <li>
　　     <%= link_to "注文履歴一覧", admin_path, class: "btn btn-light" %>
　　    </li>
　　    <li>
　　     <%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-light" %>
　　    </li>
　　    <li>
　　     <%= link_to "ログアウト", destroy_customer_session_path, class: "btn btn-light", method: :delete %>
　　    </li>
　　   <% else %>
　　    <li>
　　     <%= link_to "about", home_about_path, class: "btn btn-light ml-5" %>
　　    </li>
　　    <li>
　　     <%= link_to "商品一覧", items_path, class: "btn btn-light" %>
　　    </li>
        <li>
　　     <%= link_to "新規登録", items_path, class: "btn btn-light" %>
　　    </li>
        <li class="nav-item">
　　     <%= link_to "ログイン", items_path, class: "btn btn-light" %>
　　    </li>
       <% end %>
      </ul>
     </div>
     </div>
    </nav>
　 </header>
   <%= yield %>
  </body>
</html>
